body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ddd;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    top: 35%;
    width: 100%;
    margin-left: 75px;
}

.wrapper * {
    -webkit-transform-style: preserve-3d;
}

.zoetrope {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    -webkit-perspective: 900;
    -webkit-transform: rotateX(-11deg);
}

.frames {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1200ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(-360deg); }
}

.frames > div, .frames > div:after, .frames > div:before {
    position: absolute;
    height: 100px;
    width: 100px;
}

.frames > div {
    background-color: white;
    -webkit-backface-visibility: visible;
}

.zoetrope.ball .frames > div  {
    background-image: url("../images/balls.jpg");
}

.zoetrope.horse .frames > div {
    background-image: url("../images/muybridge.jpg");
}

.zoetrope.willie .frames > div {
    background-image: url("../images/willie.jpg");
}

.frames > div:before {
    content: "";
    background: black;
    width: 102px;
    /* HACK getting the :after positioned outside the wheel...*/
    -webkit-transform: translateZ(1px);
}

.frames > div:after {
    top: -98px;
    width: 102px;
    height: 100px;
    content: "";
    border-left: 35px solid black;
    border-right: 35px solid black;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    -webkit-box-sizing: border-box;
    -webkit-transform: translateZ(1px);
}
