body {
    background-color: white;
    /* TEMP */
    margin-top: 200px;
}

body, body * {
    -webkit-transform-style: preserve-3d;
}

#container {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    -webkit-perspective: 1000;
}

.frames {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    -webkit-animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(-360deg); }
}

.frames > div {
    position: absolute;
    height: 200px;
    width: 180px;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-backface-visibility: visible;
}

.frames > div:nth-child(1){
    -webkit-transform: translateZ(380px);  
}

.frames > div:nth-child(2) {
    -webkit-transform: rotateY(30deg) translateZ(380px);
}

.frames > div:nth-child(3) {
    -webkit-transform: rotateY(60deg) translateZ(380px);
}

.frames > div:nth-child(4) {
    -webkit-transform: rotateY(90deg) translateZ(380px);
}

.frames > div:nth-child(5) {
    -webkit-transform: rotateY(120deg) translateZ(380px);
}

.frames > div:nth-child(6) {
    -webkit-transform: rotateY(150deg) translateZ(380px);
}

.frames > div:nth-child(7) {
    -webkit-transform: rotateY(180deg) translateZ(380px);
}

.frames > div:nth-child(8) {
    -webkit-transform: rotateY(210deg) translateZ(380px);
}

.frames > div:nth-child(9) {
    -webkit-transform: rotateY(240deg) translateZ(380px);
}

.frames > div:nth-child(10) {
    -webkit-transform: rotateY(270deg) translateZ(380px);
}

.frames > div:nth-child(11) {
    -webkit-transform: rotateY(300deg) translateZ(380px);
}

.frames > div:nth-child(12) {
    -webkit-transform: rotateY(330deg) translateZ(380px);
}