body {
    background-color: white;
    /* TEMP */
    margin-top: 200px;
}

body, body * {
    -webkit-transform-style: preserve-3d;
}

#container {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    -webkit-perspective: 1200;
}

.frames {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    -webkit-animation: spin 10s infinite linear;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(-360deg); }
}

.frames > div {
    position: absolute;
    height: 120px;
    width: 90px;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-backface-visibility: visible;
}